      <nav>
        <div class="nav-wrapper">
          <img src="./app/my-heder/logo.png" class="brand-logo center">
          <ul class="right hide-on-med-and-down">
              <li *ngFor="let myHederLink of myHederLinks" class="{{myHederLink.active}}"
               (click)="changeActive(myHederLink)">
               <div *ngIf="myHederLink.text=='Logout'" ><a [routerLink]="['/login']" >{{myHederLink.text}}</a></div>
               <div *ngIf="myHederLink.text!='Logout'" ><a >{{myHederLink.text}}</a></div>
             </li>
            <!--<li class="active"><a href="collapsible.html">JavaScript</a></li>-->
          </ul>
        </div>
      </nav>
      <div [(ngSwitch)]="this.selected" class='row'>
        <myprofile *ngSwitchCase="'My profile'" class='col s9 push-s2'></myprofile>
        <addfriend *ngSwitchCase="'Add friend'" class='col s9 push-s2'></addfriend>
        <about *ngSwitchCase="'About'" class='col s9 push-s2'></about>
      </div>
