<h1>Add Friend</h1>
<div class="row">
  <div class="input-field col s8">
    <i class="material-icons prefix">search</i>
    <input #box (keyup.enter)="onEnter(box.value)" id="icon_prefix" type="text" class="validate">
    <label for="icon_prefix">Search</label>
  </div>
</div>
<div *ngFor='let contact of contacts'>
<li class="collection-item avatar noPoint" style="width:100%">
<div class="divider teal lighten-2"></div>
  <div class="valign-wrapper" style="width:100%">
    <img class="circle con-photo image" src="./images/profile.jpg">
    <h4 class="title right-align">{{contact.first_name}} {{contact.last_name}}</h4>
    <a (click)="addFriend(contact.username)" class="btn-floating btn-large waves-effect waves-light buttonCss"><i class="material-icons">add</i></a>
  </div>
  <div class="divider teal lighten-2"></div>
</li>
