<h1>My Profile</h1>
<img class="responsive-img" src="./images/profile.jpg" class="circle responsive-img picture">

<div class="row">
  <div class="input-field col s6 push-s3">
    <input value="Alvin" id="first_name2" type="text" class="validate">
    <label class="active" for="first_name2">First Name</label>
  </div>
</div>

<div class="row">
  <div class="input-field col s6 push-s3">
    <input value="Alvin" id="first_name2" type="text" class="validate">
    <label class="active" for="first_name2">Last Name</label>
  </div>
</div>

<div class="row">
  <div class="input-field col s6 push-s3">
    <input value="Alvin" id="icon_prefix" type="text" class="validate">
    <label class="active" for="icon_prefix">Email</label>
  </div>
</div>

<div class="row">
  <button class="btn waves-effect waves-light col push-s3" type="submit" name="action">
    Edit password
   <i class="material-icons right">mode_edit</i>
 </button>
</div>
