.picture{
  height: 25%;
  width: 25%;
  display: block;
  margin: auto;
  text-align: center;
}

.field{
  display: block;
  margin: 0 auto;
  text-align: center;
}

.edit{
  background-color: #80CBC4;
}

.buttonLeft{
  position: absolute;
  right: 0;
  margin-right: 2%;

}

.centar{
  display: block;
  margin: auto;
}

.centerButton{
  display: block;
  left: 60%;
}
