<div class="row">
  <div class="col s12 centriraj">

      <div class="row">
        <div class="input-field col s6 push-s3">
          <input (keyup)='onKey($event)' id="username" type="text" class="validate">
          <label for="first_name2">Username</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6 push-s3">
          <input (keyup)='onKey($event)' id="first_name" type="text" class="validate">
          <label for="first_name2">First Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6 push-s3">
          <input (keyup)='onKey($event)' id="last_name" type="text" class="validate">
          <label for="first_name2">Last Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6 push-s3">
          <input (keyup)='onKey($event)' id="email" type="text" class="validate">
          <label for="icon_prefix">Email</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6 push-s3">
          <input (keyup)='onKey($event)' id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6 push-s3">
          <input (keyup)='onKey($event)' id="repeat_password" type="password" class="validate">
          <label for="password">Repeat password</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s2 push-s3">
          <a class="waves-effect waves-light btn" (click)="probajRegister()">Register</a>
        </div>
      </div>

    </div>
</div>
