.mainContainder{
  background: #212121;
  border-right: 1px solid black;
  border-color: #80CBC4;
}

.lineColor{
  background-color: #80CBC4;
}

.searchPadding{
  padding-right: 2%;
}

.con-photo{
  max-width: 15%;
  max-height: 15%;
  margin-left: 2%;
  margin-right: 4%;
  border: 2px solid black;
  border-color: #80CBC4;
}
.right{
  position:absolute;
  right: 0;
  margin-right: 1%;

}

.title_color{
  color: #80CBC4;
}

.noPadding{
  padding: 0%;
}

.hepek:hover{
  color: #80CBC4;
}