<div class="row">
      <ul class="mainContainder side-nav col s2 noPadding" style="transform: translateX(0px);">
          <profile-card></profile-card>
          <div class="input-field searchPadding">
            <i class="material-icons prefix">search</i>
            <input id="icon_prefix" type="text" class="validate" [(ngModel)]="this.search">
            <label for="icon_prefix">Search</label>
          </div>
        <li><div class="divider lineColor"></div></li>
        <li><a class="subheader title_color">Contacts</a></li>
        <div *ngFor='let contact of contacts'>
        <li class="collection-item avatar hepek" style="width:100%" [hidden]="isSub(contact.username | lowercase )"  (click)="choosen(contact.username)">
          <div class="valign-wrapper" style="width:100%">
            <img class="circle con-photo" src="./images/profile.jpg">
            <h6 class="title right-align">{{contact.username}}</h6>
            <div class="col s1">
            <span class="new badge right ">4</span>
          </div>
          </div>
        </li>
      </div>
      </ul>
</div>
